.search {
  margin-left: var(--space);
  margin-right: var(--space);
}

.add-button {
  background-color: var(--accent);
  border: none;
  padding: var(--space-s);
  margin-bottom: var(--space);
  box-shadow: var(--shadow);
  border-radius: var(--space-s);
  cursor: pointer;
  font-weight: bold;
  color: var(--secondary-text);
}
