.tabs {
  color: var(--primary-text);
  margin-right: var(--space);
  margin-left: var(--space);
}

[data-reach-tab-list] {
  background: var(--brand);
  margin-bottom: var(--space);
}

[data-reach-tab] {
  flex: 1;
  font-weight: bold;
}

[data-reach-tab][data-selected] {
  border-bottom-color: var(--accent);
}
