.header {
  align-self: stretch;
  display: flex;
  align-items: center;
  background-color: var(--brand);
  box-shadow: var(--shadow);
}

.header__title {
  margin: var(--space);
  font-size: 2em;
  font-weight: bold;
  color: var(--secondary);
  flex: 1;
}
